$navbar-default-bg: #000000;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
    float: left;
    /*font-size: ;*/
    color: #fff;
    
}

#logo:hover {
    background: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

.navbar {
    border-radius: 0 0 5px 5px !important;
}

ul.nav a:hover { 
    color: #fff !important;
    background: rgba(255, 255, 255, 0.5) !important;
    text-decoration: none;
}

ul.dropdown-menu a:hover { 
    color: #fff !important;
    background: rgba(0, 0, 0, 0.5) !important;
    text-decoration: none;
}

.center { text-align: center; }

.jumbotron {
    background-image: asset-url("home-photo.jpg");
    background-size: cover;
    
}

.jumbotron h1 {
    font-weight: bold;
    margin-bottom: 50 px;
    line-height: 2;
    
}

.btn-home {
    font-size: 2em;
    background-color: black;
    border: none;
    
}

.btn-home:hover {
    background-color: gray;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description { 
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 5px;
}

.article-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}


.listing {
    list-style: none;
    padding-left: 0;
}


html {
    height: 100%;
}


body {
    position: relative;
    min-height: 100%;
    padding-bottom: 100px;
}

 .footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 10px;  
}


.footer ul {
    padding-top: 15px;
    float: right;
}

.footer ul li {
    float: left;
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}