<footer class="footer">

    <small>Copyright &copy; Alpha Blog by <a href="https://bebyk.wordpress.com">Artem Bebyk</a></small>

    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Articles", articles_path %></li>
            <li><%= link_to "Home", root_path %></li>
        </ul>

    </nav>

</footer>
